@charset "utf-8";
*{
    margin:0;
    padding: 0;
}

/*Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    background:#e0e5e6c6;
    color:#1e1e27;
}
div{
    display: block;
    position: relative;
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin-bottom: 0px;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 500;
    color: #989898;
    -webkit-font-smoothing:antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a{  
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 2px #fde0db;
    transition: all 200ms ease;
}
a, a:hover , a:active, a:link{
    text-decoration: none;
    -webkit-font-smoothing:antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;

}
p a:active{
    position: relative;
    color: #ff6347;
}
p a:hover{
    color: #ff6347;
    background: #fde0db;

}
p a:hover::after{
    opacity: 0.2;
}
::selection{
    background: #fde0db;
    color: #ff6347;
}

p::selection{
        background: #fde0db;

}
h1{font-size: 72px;}
h2{font-size: 40px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 16px;}
h6{font-size: 14px;}
h1, h2, h3, h4, h5, h6{
    color: #282828;
    -webkit-font-smoothing:antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.trans_300{
    transition: all 300ms ease;
}
::input-placeholder{
    font-size: 16px !important;
    font-weight: 500;
    color: #777777;

}


.superContainer{
    width: 100%;
    overflow: hidden;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 10;
}

.main_nav_container{
    width: 100%;
    background: #f2dddd72;
    box-shadow: 0 0 16px rgab(0,0,0,.015);
}

.navbar{
    width: auto;
    height: 100px;
    float: right;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar_menu li{
    display: inline-block;

}
.navbar_menu li a{
    display: block;
    color: #1e1e27;
    font-size:13px;
    font-weight:500;
    text-transform: uppercase;
    padding: 20px;
    transition: color 0.3s ease;
}
.navbar_menu li a:hover{
    color: #b5aec4;
}
.navbar_user{
    margin-left: 37px;
}
.navbar_user li{
    display: inline-block;
    text-align: center;

}
.navbar_user li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    width: 40px;
    height: 40px;
    color: #1e1e27;
    transition: color 0.3s ease;
}
.navbar_user li a:hover{
    color: #b5aec4;
}
.checkout{
    color:#b5aec4;
}
.checkout a{
    background: #eceff6;
    border-radius: 50%;
}
.checkout_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    left: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background:#fe4c50;
    font-size: 12px;
    color: #ffffff;
}
#checkout_items{
    color: #1e1e27;
    cursor: pointer;
}
#checkout_items:hover{
    color: #b5aec4;
}
.logo_container{
    position: absolute;
    top:40%;
    transform: translate(-40%);
    left: 45px;

}

.logo_container a {
    font-size: 20px;
    color: #1e1e27;
    font-weight: 700;
    text-transform: uppercase;
}
.logo_container a span{
    color: #fe4c50;
}
.main_slider{
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 100px;
}

.fill_height{
    height: 100%;
}
.main_slider_content{
    width: 60%;
}
.main_slider_content h6{
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 29px;
}
.main_slider_content h1{
    font-weight: 500;
    line-height: 1;
}

.red_button{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background: #fe4c50;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.red_button a{
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;

}
.red_button:hover{
    background: #fe7c7f;

}
.shop_now_button{
    width: 140px;
    margin-top: 32px;
}



.banner{
    width: 100%;
    margin-top: 30px;

}
.banner_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner_catagory{
    height: 50px;
    background: #ffffff;
    min-width: 180px;
    padding-left: 25px;
    padding-right: 25px;
}
.banner_catagory a{
    display: block;
    color: #1e1e27;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    width: 100%;

}
.banner_catagory a:hover{
    color: #b5ae;
}

.new_arrivals{
    width: 100%;
}
.new_arrivals_title{
    margin-top: 74px;
}
.new_arrivals_sorting{
    display: inline-block;
    border-radius: 3px;
    margin-top: 59px;
    overflow: hidden;
}
.grid-sorting-button{
    height: 40px;
    min-width: 102px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    border: solid 1px #ebebeb;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    background: #ffffff;
    border-radius: 3px;
    margin: 0;
    float: left;
    margin-left: -1px;

}
.grid-sorting-button:first-child{
    margin-left: 0px;
}
.grid-sorting-button.active{
    color: #ffffff;
    background: #fe4c50;

}
.grid-sorting-button.active:hover{
    background: #fe7c7f;
}
.clearfix::before, .clearfix::after{
    content: "";
}

.clearfix::after{
    clear: both;
}
.clearfix{
    zoom: 1;
}
